<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
      <key>items</key>
      <array>
        <dict>
           <key>assets</key>
           <array>
             <dict>
               <key>kind</key>
               <string>software-package</string>
               <key>url</key>
               <string><![CDATA[https://sh-download.weiyun.com/ftn_handler/b5a08370efe279a893c3085a625cc11248eca0f00504af28d3b4e8b115646bd3a2d50fb1ee78b863cae5c09c09881790e1245518d15c7aa4e1345a26e7f2c108/%E6%A4%8D%E7%89%A9%E5%A4%A7%E6%88%98%E5%83%B5%E5%B0%B8%20Plants%20vs.%20Zombies_v1.9.13.ipa?fname=%E6%A4%8D%E7%89%A9%E5%A4%A7%E6%88%98%E5%83%B5%E5%B0%B8%20Plants%20vs.%20Zombies_v1.9.13.ipa&amp;from=30113&amp;version=3.3.3.3&amp;uin=717785320]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>display-image</string>
               <key>needs-shine</key>
               <integer>0</integer>
               <key>url</key>
               <string><![CDATA[https://github.com/717785320/HanMei/blob/master/20190308140606.png?raw=true]]></string>
             </dict>
             <dict>
               <key>kind</key>
               <string>full-size-image</string>
               <key>needs-shine</key>
               <true/>
               <key>url</key>
               <string><![CDATA[https://github.com/717785320/HanMei/blob/master/20190308140606.png?raw=true]]></string>
             </dict>
           </array>
           <key>metadata</key>
           <dict>
             <key>bundle-identifier</key>
             <string>com.popcap.PvZ</string>
             <key>bundle-version</key>
             <string><![CDATA[1.0.0]]></string>
             <key>kind</key>
             <string>software</string>
             <key>title</key>
             <string><![CDATA[PlantsVsZombies_v1.9.13]]></string>
           </dict>
        </dict>
      </array>
  </dict>
</plist>